.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
}

.pagination a.active {
    background-color: #9c27b0 !important;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
    color: white;
}

.active {
    background-color: #9c27b0 !important;
    color: white;
    border-radius: 5px;
}

li a {
    cursor: pointer !important;
}